<form class="form" action="users/{{action}}" method="POST">
<h1>Please enter your information below</h1>
  <div class="submitfield">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
  </div>
  <div class="submitfield">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
  </div>
  <input type="submit" value="{{buttonText}}">
</form>